<a href="https://colab.research.google.com/github/DevzsJhonny/Colab_notebooks/blob/main/Produ%C3%A7%C3%A3o_Hospitalar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analisando Dados da Saúde - Dados de Produção Hospitalar

In [2]:
# Dados extraídos do DATASUS

In [3]:
import pandas as pd

In [12]:
dados = pd.read_csv('A150850189_28_143_208 (1).csv', encoding='ISO-8859-1', skiprows=3, sep=';', thousands='.', decimal=',')

<ipython-input-12-b064d7a3c5ec>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dados = pd.read_csv('A150850189_28_143_208 (1).csv', encoding='ISO-8859-1', skiprows=3, sep=';', skipfooter=12, thousands='.', decimal=',')

In [ ]:
# pd.read_csv('caminho do arquivo') -- da erro por conta do UTF-8
# encode ISO-8859-1

In [13]:
dados.head() #Dataframe head - > cabeçalho

,Unidade da Federação,1992/Mar,1992/Abr,1993/Mai,1993/Dez,1994/Jan,1994/Fev,1994/Mai,1994/Ago,1994/Nov,...,2021/Jan,2021/Fev,2021/Mar,2021/Abr,2021/Mai,2021/Jun,2021/Jul,2021/Ago,2021/Set,Total
0,11 Rondônia,-,-,-,-,-,-,-,-,-,...,10045624.39,10677245.18,18147121.02,17753851.45,17659855.79,14435903.47,11834435.10,7371334.84,1682801.60,1.088060e+09
1,12 Acre,-,-,-,-,-,-,-,-,-,...,4175526.06,5282655.42,5699597.78,5002272.59,4326882.24,3458187.11,2302711.01,1196754.85,-,4.752903e+08
2,13 Amazonas,-,-,-,-,-,-,-,-,-,...,27406458.57,22341042.63,27923786.94,24515920.09,23973537.71,22175398.40,21614943.55,13806958.66,5292323.36,2.061943e+09
3,14 Roraima,-,-,-,-,-,-,-,-,-,...,3557821.99,4172285.82,5427226.70,4192540.54,3681417.80,3475205.55,3320807.96,2907871.07,1496814.75,3.525463e+08
4,15 Pará,-,-,-,-,-,-,-,-,-,...,39042349.46,37113440.70,49625416.13,52558327.29,50907226.77,43876590.47,33718084.12,20837865.89,4620263.03,4.968812e+09

In [16]:
dados.tail(0)

Empty DataFrame
Columns: [Unidade da Federação, 1992/Mar, 1992/Abr, 1993/Mai, 1993/Dez, 1994/Jan, 1994/Fev, 1994/Mai, 1994/Ago, 1994/Nov, 1995/Jan, 1995/Mar, 1995/Jun, 1995/Ago, 1995/Dez, 1996/Fev, 1996/Mar, 1996/Ago, 1996/Dez, 1997/Fev, 1997/Nov, 1998/Fev, 1998/Mar, 1998/Jul, 1998/Ago, 1998/Set, 1998/Out, 1998/Dez, 1999/Fev, 1999/Mar, 1999/Mai, 1999/Jul, 1999/Ago, 1999/Set, 1999/Out, 1999/Nov, 1999/Dez, 2000/Jan, 2000/Fev, 2000/Mar, 2000/Abr, 2000/Mai, 2000/Jun, 2000/Jul, 2000/Ago, 2000/Set, 2000/Out, 2000/Nov, 2000/Dez, 2001/Jan, 2001/Fev, 2001/Mar, 2001/Abr, 2001/Mai, 2001/Jun, 2001/Jul, 2001/Ago, 2001/Set, 2001/Nov, 2001/Dez, 2002/Jan, 2002/Fev, 2002/Mar, 2002/Mai, 2002/Jun, 2002/Jul, 2002/Out, 2002/Nov, 2002/Dez, 2003/Jan, 2003/Fev, 2003/Mar, 2003/Abr, 2003/Jun, 2003/Jul, 2003/Ago, 2003/Out, 2003/Nov, 2003/Dez, 2004/Jan, 2004/Fev, 2004/Mar, 2004/Abr, 2004/Mai, 2004/Jun, 2004/Jul, 2004/Ago, 2004/Set, 2004/Out, 2004/Nov, 2004/Dez, 2005/Jan, 2005/Fev, 2005/Mar, 2005/Abr, 2005/Mai, 2005/Jun, 2005/Jul, 2005/Ago, 2005/Set, ...]
Index: []

[0 rows x 293 columns]

In [22]:
dados.mean() # média dos meses

<ipython-input-22-82206361d5c2>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.mean() # média dos meses

2007/Ago       304952.77
2007/Set       788145.26
2007/Out      2440162.96
2007/Nov      5517354.05
2007/Dez     12337159.42
                ...
2021/Mai     87271862.20
2021/Jun     77590406.47
2021/Jul     60846287.01
2021/Ago     43885716.30
Total      6852320913.49
Length: 170, dtype: float64

In [19]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Columns: 293 entries, Unidade da Federação to Total
dtypes: float64(170), object(123)
memory usage: 61.9+ KB

In [21]:
pd.options.display.float_format = "{:.2f}".format #notação python